/* 未來可考慮用CSS變數，目前還沒。 */

/* :root {
  --scripture-kai-font: 標楷體, "STKaitiTC-Regular", cwTeXKai, serif;
  --scripture-kai-size: 110%;
  --scripture-kai-line-height: 1.4;
  --scripture-kai-subsize: calc(110% * 0.75);
  --scripture-p-sapcing: 1em;
} */

/* ------------------------------------------------------------------------------- */

/* 修改原有的樣式 */

/* 【B1.一級標題-書名】【轉A2-段落-書名】 */

/*
label: B1.一級標題-書名
keystroke:
show in menu: true
*/
h1.title1 {
  /* Noto TC版的字碼範圍較小，會缺字，所以用SC版備援。 */
  font-family:
    "Noto Serif TC", "Noto Serif SC", "Songti TC", PMingLiU, "新細明體",
    MingLiU, "細明體", PMingLiU-ExtB, "全字庫正宋體 Ext-B", TW-Sung-Ext-B, serif;
  font-size: 2em;
  font-weight: 900;
  font-style: normal;
  line-height: 1.618;
  text-align: justify;
  /* 很長的藏文書名會需要 */
  text-indent: 0;

  /* font-optical-sizing 屬性只對包含光學尺寸軸（Optical Size Axis，即 opsz）的可變字型（Variable Fonts）有效。
  雖然 Noto 有推出現代的可變字型版本，但它只支援「字重軸」（wght：100–900），並沒有包含 opsz 軸。
  上述字型清單中，沒有一個字型具有 opsz 軸，所以，並不需要加：
  font-optical-sizing: auto;
  */
}

/*
label: 一級標題上下標
keystroke:
show in menu: false
*/
.title1.sub_,
.title1.super_ {
  font-size: calc(200% * 0.75);
}

/*
label: B2.二級標題-章節/卷名
keystroke: 2
show in menu: true
*/
.toc-title,
/*目錄標題來共用*/
h2.title2 {
  font-size: 1.618em;
  font-weight: bold;
}

/*
label: B3.三級標題-段落標題
keystroke: 3
show in menu: true
*/
h3.title3 {
  font-size: 1.414em;
  font-weight: bold;
}

/*
label: B4.四級標題
keystroke: 4
show in menu: true
*/
h4.title4 {
  font-size: 1.309em;
  font-weight: bold;
}

/*
label: B5.五級標題
keystroke: 5
show in menu: true
*/
h5.title5 {
  font-size: 1em;
  font-weight: bold;
}

/*
label: 一般內文段落
keystroke:
show in menu: false
*/
p {
  margin-block: 1em;
  line-height: 1.618;
  text-align: justify;
  text-indent: 2em;
}

/* 【A1.經文-楷書】 */

/*
  font-family:
    "cwTeXKai",
    "標楷體",
    "DFKai-SB",           標楷體的正式字體名稱
    "Kaiti TC",           macOS 內建楷體
    "STKaiti",            win / 舊版 macOS 的楷體
    "STKaitiTC-Regular",  win / 舊版 macOS 的楷體
    "KaiTi",              Windows 大陸版
    "KaiTi_GB2312",       Windows 大陸版
    "AR PL KaitiM GB",    Linux 常見的楷體
    "Noto Serif TC",
    serif !important;
*/

/*
label: A1.經文-楷書
keystroke: Q
show in menu: true
*/
.homage,
/*皈敬來共用*/
.scripture-verse,
/*偈頌*/
/* -------------------------- */
.scripture-kai,
span.scripture-kai {
  font-family:
    "AR PL UKai TW", "標楷體", DFKai-SB, BiauKai, "Kaiti TC", STKaitiTC-Regular,
    "AR PL KaitiM Big5", "Noto Serif TC", "全字庫正楷體 Ext-B", TW-Kai-Ext-B,
    serif !important;
  font-size: 100%;
  font-weight: 700;
  font-style: normal;
  line-height: 1.618;

  /* font-optical-sizing 屬性只對包含光學尺寸軸（Optical Size Axis，即 opsz）的可變字型（Variable Fonts）有效。
  雖然 Noto Serif TC 有推出現代的可變字型版本，但它只支援「字重軸」（wght：100–900），並沒有包含 opsz 軸。
  上述字型清單中，沒有一個字型具有 opsz 軸，所以，並不需要加：
  font-optical-sizing: auto;
  */
}

/* 【隱-不加陰影的粗體楷書】已經加粗過了，不再重複加陰影 */

/* blockquote .scripture-kai, */

/* .bold.scripture-kai,
.bold .scripture-kai,
.scripture-kai .bold, */

/* --- */

/* h1 .scripture-kai,
h2 .scripture-kai,
h3 .scripture-kai,
h4 .scripture-kai, */

/* --- */

/* .scripture-outline.scripture-kai,
.scripture-outline .scripture-kai, */

/* --- */

/* th .scripture-kai {
  text-shadow: none;
} */

/*
label: A2.經文/師父手抄-仿宋
keystroke: W
show in menu: true
*/
.scripture-fangsong,
span.scripture-fangsong {
  /* 後台當 font-family 太長時，可能無法順利儲存。可在UI中，刪除多餘間隔空白。 */
  font-family:
    TW-Sung-Punct, "Zhuque Fangsong (technical preview)", "DFPFangSong-W4",
    "華康P仿宋體W4", "DFFangSong-W4", "華康仿宋體W4", fangsong, STFangsong,
    "Noto Serif TC", "Source Han Serif TC", "Songti TC", PMingLiU-ExtB,
    "全字庫正宋體 Ext-B", TW-Sung-Ext-B, serif !important;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  line-height: 1.618;
}

/*
label: E1.格式-底線
keystroke:
show in menu: false
*/
u,
span.underline,
.underline {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

/*
label: 側線引文內-段落
keystroke:
show in menu: false
*/
blockquote p {
  line-height: 1.5;
  text-align: justify;
  text-indent: 0;
}

/*
label: 時間、頁碼錨點
show in menu: false
*/
span.seek-to,
.seek-to,
span.pagenum,
.pagenum {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 100%;
  font-weight: normal;
  color: #2a6496;
  /* 深色 #69a3d5 */

  /* text-shadow: none; 不要受楷書陰影加粗的影響 */
}

/*
label: A3.經文-藏文
keystroke: E
show in menu: true
*/
.font-tibetan,
span.font-tibetan {
  position: relative;
  bottom: 0.18em;

  font-family: "Monlam Uni OuChan2", serif !important;
  font-size: 100%;
  line-height: 1;

  /* text-shadow: none; 不要受楷書陰影加粗的影響 */
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉A1-段落-前言介紹
keystroke:
show in menu: true
*/
p.intro {
  margin-block: 0 2lh;
  padding: 1em;
  border-radius: 5px;

  font-family:
    TW-Sung-Punct, "Zhuque Fangsong (technical preview)", "DFPFangSong-W4",
    "華康P仿宋體W4", "DFFangSong-W4", "華康仿宋體W4", fangsong, STFangsong,
    "Noto Serif TC", "Source Han Serif TC", "Songti TC", PMingLiU-ExtB,
    "全字庫正宋體 Ext-B", TW-Sung-Ext-B, serif !important;
  font-size: 100%;
  font-weight: normal;
  text-indent: 0;

  background-color: #e0d8bf;
  /* 深色 #272720; */
}

/* ------------------------------------------------------------------------------- */

/* 配合現有樣式：藏文不要縮小行高(不要強制1.0)，避免藏文書名太擠 */

/*
label: 轉隱-書名-藏文行高
keystroke:
show in menu: false
*/
.title1 .font-tibetan {
  line-height: normal;
}

/*
label: 轉隱-書名-與後段距離
keystroke:
show in menu: false
*/
.title1+*:not(.title1) {
  margin-block-start: 1lh;
}

/*
label: 轉隱-書名-與前段距離
keystroke:
show in menu: false
*/
p+.title1 {
  margin-block-start: 2lh;
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉A3-段落-作者
keystroke:
show in menu: true
*/
p.author {
  margin: 0;
  line-height: 2;
  text-align: right;
  text-indent: 0;
}

/*
label: 轉隱-作者-與後段距離
keystroke:
show in menu: false
*/
p.author+*:not(p.author) {
  margin-block-start: 1lh;
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉A4-段落-皈敬
keystroke:
show in menu: true
*/
p.homage {
  /* = 以下 + 楷書 */
  text-indent: 0 !important;
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉B2-段落-無間距
keystroke:
show in menu: true
*/
p.no-line-spacing {
  margin: 0;
}

/* 設定與前後不同樣式之間的距離。這是P的樣式，所以都只針對P定義。 */

/*
label: 轉隱-無間距-與前後段距離
keystroke:
show in menu: false
*/
p.scripture-modern-nospacing+p:not(.scripture-modern-nospacing),
/*白話無間距來共用*/
p:not(.scripture-modern-nospacing)+p.scripture-modern-nospacing,
/* --- */
p.no-line-spacing+p:not(.no-line-spacing),
p:not(.no-line-spacing)+p.no-line-spacing {
  margin-block-start: 1em;
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉B3-段落-科判
keystroke:
show in menu: true
*/
p.scripture-outline {
  text-indent: 0 !important;
}

/* ------------------------------------------------------------------------------- */

/* 偈頌段落的字元會去共用楷書 */

/* 【轉隱-偈頌字元】 */

/* .scripture-verse {
  font-family: 標楷體, "STKaitiTC-Regular", cwTeXKai, serif;
  font-size: 110%;
} */

/*
label: 轉隱-偈頌段落共用
keystroke:
show in menu: false
*/
.quoting-sutra-verse,
/*引經偈頌來共用*/
.quoting-treatise-verse,
/*引論偈頌來共用*/
.quoting-explanation-verse,
/*引釋偈頌來共用*/
.scripture-modern-verse,
/*白話偈頌來共用*/
.scripture-verse {
  margin-inline-start: 2em;
  text-indent: 0 !important;
}

/*
label: 轉B4-段落-偈頌段落
keystroke:
show in menu: true
*/
p.scripture-verse {
  text-align: left;
  /* 偈頌不做左右對齊 */
}

/* ------------------------------------------------------------------------------- */

/* #region 箋注 ******************************************************************/

/* 【轉隱-箋注共用】 */

/* .annotation {
} */

/*
label: 轉B5-字元-箋注
keystroke:
show in menu: true
*/
.annotation-title,
/*箋注標題來共用*/
.annotation,
span.annotation {
  font-family:
    InstrumentSansLatinSubset, "Noto Sans TC", "Noto Sans SC", "PingFang TC",
    "Heiti TC", "LiHei Pro", "Microsoft JhengHei", "微軟正黑體",
    "全字庫正宋體 Ext-B", TW-Sung-Ext-B, sans-serif;
  font-size: 0.707em !important;
  font-weight: 400;

  /* line-height: 1; 必須要這個，垂直對齊才會準。不能用normal，一定要用1 */

  /* 垂直對齊不要用text-bottom，因為對於不同字型會有差異很大的不同結果。 */
}

/*
label: 轉B5-字元-箋注標題
keystroke:
show in menu: true
*/
span.annotation-title {
  font-weight: bold;
}

/*
label: 轉隱-箋注藏文
keystroke:
show in menu: false
箋注是小字，藏文要對齊基線。只有當：在行首、前文是藏文時，才需要調整
目前雖然只放了垂直對齊，但其實這裡可以放任何「箋注藏文」相關樣式
*/

/* 箋注標題來共用 */
.annotation-title.font-tibetan:first-child,
/*行首*/
.font-tibetan+.annotation-title.font-tibetan,
/*前文是藏文*/
/* ----- */
.annotation.font-tibetan:first-child,
/*行首*/
.font-tibetan+.annotation.font-tibetan

/*前文是藏文*/
  {
  vertical-align: calc(0.18em / 0.707);
  /* 配合先前的設定。對齊基線 */
}

/*
label: 轉隱-箋注藏文間距
keystroke:
show in menu: false
藏文箋注前後一律加間隔
*/

/* 箋注標題來共用 */
.annotation-title.font-tibetan,
.annotation.font-tibetan {
  margin-inline: 0.5em;
}

/*
label: 轉隱-下標箋注間距
keystroke:
show in menu: false
*/
sub+.annotation-title,
/*箋注標題來共用*/
/* ----- */
sub+.annotation {
  margin-inline-start: 0.25em;
}

/* #endregion */

/* ------------------------------------------------------------------------------- */

/* #region 標題 */

/* "標題"沿用原有的樣式 */

/*
label: 隱-標題前間距
keystroke:
show in menu: false
*/
h2.title2,
h3.title3 {
  margin-block-start: 1.618lh;
}

/*
label: 隱-標題同類間距
keystroke:
show in menu: false
*/
h2.title2+h2.title2,
h3.title3+h3.title3 {
  margin-block-start: 1em;
}

/* #endregion */

/* ------------------------------------------------------------------------------- */

/* #region 引文區塊 */

/*
  引文部分，網頁中是包在blockquote裡面，所以只須設定段落、字元樣式，不需要額外設定"引文區塊"的樣式。
*/

/*
label: 轉C00-字元-引文科判通用
keystroke:
show in menu: true
*/
.quoting-outline,
span.quoting-outline {
  font-family:
    InstrumentSansLatinSubset, "Noto Sans TC", "Noto Sans SC", "PingFang TC",
    "Heiti TC", "LiHei Pro", "Microsoft JhengHei", "微軟正黑體",
    "全字庫正宋體 Ext-B", TW-Sung-Ext-B, sans-serif;
  font-weight: bold;
}

/*
label: 轉C00-段落-引文科判通用
keystroke:
show in menu: true
*/
p.quoting-outline {
  text-indent: 0 !important;
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉C10-字元-引經
keystroke:
show in menu: true
*/
.quoting-sutra-verse,
/*引經偈頌來共用*/
.quoting-sutra-indent,
/*引經縮排來共用*/
.quoting-sutra,
/*與 P 共用*/
span.quoting-sutra {
  font-family:
    "Noto Serif TC", "Noto Serif SC", "Songti TC", PMingLiU, "新細明體",
    MingLiU, "細明體", PMingLiU-ExtB, "全字庫正宋體 Ext-B", TW-Sung-Ext-B, serif;

  /* 即使引文區塊已經加粗，也要考慮「不在引文區塊的字元套用」情況 */
  font-weight: 600;
}

/*
label: 轉C10-段落-引經
keystroke:
show in menu: true
*/
p.quoting-sutra {
  --dummy: 0;
}

/*
label: 轉C11-段落-引經偈頌
keystroke:
show in menu: true
*/
p.quoting-sutra-verse {
  /* = 偈頌段落 + 引經 + 以下 */
  text-align: left;
  /* 偈頌不做左右對齊 */
}

/*
label: 轉C12-段落-引經縮排
keystroke:
show in menu: true
*/
p.quoting-sutra-indent {
  /* = 以下 + 引經 */
  text-indent: 2em !important;
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉C20-字元-引論
keystroke:
show in menu: true
這裡雖然是用楷體，但是沒有去共用"經文楷"，讓它獨立出來，作為其他引論樣式的基礎，這樣應該會比較好維護。
*/

.quoting-treatise-verse,
/*引論偈頌來共用*/
.quoting-treatise-indent,
/* --- */
.quoting-treatise,
span.quoting-treatise {
  font-family:
    "AR PL UKai TW", "標楷體", DFKai-SB, BiauKai, "Kaiti TC", STKaitiTC-Regular,
    "AR PL KaitiM Big5", "Noto Serif TC", "全字庫正楷體 Ext-B", TW-Kai-Ext-B,
    serif !important;
  font-size: 100%;
  line-height: 1.618;
}

/* 【轉隱-粗體引論不加陰影】 */

/* .bold.quoting-treatise-verse,
.bold .quoting-treatise-verse,
.quoting-treatise-verse .bold,
.bold.quoting-treatise-indent,
.bold .quoting-treatise-indent,
.quoting-treatise-indent .bold,
.bold.quoting-treatise,
.bold .quoting-treatise,
.quoting-treatise .bold {
  text-shadow: none;
} */

/*
label: 轉C20-段落-引論
keystroke:
show in menu: true
*/
p.quoting-treatise {
  --dummy: 0;
}

/*
label: 轉C21-段落-引論偈頌
keystroke:
show in menu: true
*/
p.quoting-treatise-verse {
  /* = 偈頌段落 + 引論 + 以下 */
  text-align: left;
  /* 偈頌不做左右對齊 */
}

/*
label: 轉C22-段落-引論縮排
keystroke:
show in menu: true
*/
p.quoting-treatise-indent {
  /* = 以下 + 引論 */
  text-indent: 2em !important;
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉C30-字元-引釋
keystroke:
show in menu: true
*/
.quoting-explanation-verse,
/*引釋偈頌來共用*/
.quoting-explanation-indent,
.quoting-explanation,
span.quoting-explanation {
  font-family:
    TW-Sung-Punct, "Zhuque Fangsong (technical preview)", "DFPFangSong-W4",
    "華康P仿宋體W4", "DFFangSong-W4", "華康仿宋體W4", fangsong, STFangsong,
    "Noto Serif TC", "Source Han Serif TC", "Songti TC", PMingLiU-ExtB,
    "全字庫正宋體 Ext-B", TW-Sung-Ext-B, serif !important;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.618;
}

/*
label: 轉C30-段落-引釋
keystroke:
show in menu: true
*/
p.quoting-explanation {
  --dummy: 0;
}

/*
label: 轉C31-段落-引釋偈頌
keystroke:
show in menu: true
*/
p.quoting-explanation-verse {
  /* = 偈頌段落 + 引釋 + 以下 */
  text-align: left;
  /* 偈頌不做左右對齊 */
}

/*
label: 轉C32-段落-引釋縮排
keystroke:
show in menu: true
*/
p.quoting-explanation-indent {
  text-indent: 2em !important;
}

/* #endregion */

/* ------------------------------------------------------------------------------- */

/* #region 原文、古文、白話 */

/*
label: 轉D1-字元-原文
keystroke:
show in menu: true
*/
.scripture-classical-noindent,
/*原文不縮排來共用*/
.scripture-classical,
/*讓P也共用這些設定*/
span.scripture-classical {
  font-family:
    "AR PL UKai TW", "標楷體", DFKai-SB, BiauKai, "Kaiti TC", STKaitiTC-Regular,
    "AR PL KaitiM Big5", "Noto Serif TC", "全字庫正楷體 Ext-B", TW-Kai-Ext-B,
    serif !important;
  font-size: 109%;
  /* Word 13點字 對 12點字 的比例值(108.333%)。考慮楷體會小一點，故取整數。 */
  font-weight: bold;
  line-height: calc(1.618 / 1.09);
}

/*
label: 轉D1-段落-原文
keystroke:
show in menu: true
*/
p.scripture-classical {
  line-height: 1.618;
  text-indent: calc(2em / 1.09);
}

/*
label: 轉D1.1-段落-原文不縮排
keystroke:
show in menu: true
*/
p.scripture-classical-noindent {
  /* = 以下 + 原文(字元) */
  text-indent: 0 !important;
}

/*
label: 轉隱-原文-藏文調整
keystroke:
show in menu: false
配合現有樣式：原文中的藏文不要縮小行高，避免太擠
*/

p.scripture-classical .font-tibetan,
p.scripture-classical-noindent .font-tibetan {
  line-height: normal;
}

/*
label: 轉隱-偈頌-原文-藏文
keystroke:
show in menu: false
*/
.scripture-verse .scripture-classical.font-tibetan {
  font-family: "Monlam Uni OuChan2", serif !important;
  font-size: calc(100% * 1.09);
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉D2-字元-白話語譯
keystroke:
show in menu: true
*/
.scripture-modern-noindent,
/*白話不縮排來共用*/
.scripture-modern-nospacing,
/*白話無間距來共用*/
.scripture-modern-verse,
/*白話偈頌來共用*/
.scripture-modern-homage,
.scripture-modern,
/*與P共用*/
span.scripture-modern {
  font-family:
    TW-Sung-Punct, "Zhuque Fangsong (technical preview)", "DFPFangSong-W4",
    "華康P仿宋體W4", "DFFangSong-W4", "華康仿宋體W4", fangsong, STFangsong,
    "Noto Serif TC", "Source Han Serif TC", "Songti TC", PMingLiU-ExtB,
    "全字庫正宋體 Ext-B", TW-Sung-Ext-B, serif !important;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.618;
}

/*
label: 轉D2-段落-白話語譯
keystroke:
show in menu: true
*/
p.scripture-modern {
  text-indent: 2em;
}

/*
label: 轉D3-段落-白話不縮排
keystroke:
show in menu: true
*/
p.scripture-modern-noindent {
  /* = 以下 + 白話語譯(字元) */
  text-indent: 0 !important;
}

/*
label: 轉D4-段落-白話無間距
keystroke:
show in menu: true
*/
p.scripture-modern-nospacing {
  /* = 以下 + 無間距設定 + 白話語譯(字元) */
  margin: 0;
}

/*
label: 轉D5-段落-白話偈頌
keystroke:
show in menu: true
*/
p.scripture-modern-verse {
  /* = 偈頌段落 + 白話語譯(字元) + 以下 */
  text-align: left;
  /* 偈頌不做左右對齊 */
}

/*
label: 轉D6-段落-白話皈敬
keystroke: .
show in menu: true
*/
p.scripture-modern-homage {
  /* = 以下 + 白話語譯(字元) */
  text-indent: 0 !important;
}

/* #endregion */

/* ------------------------------------------------------------------------------- */

/* #region 跋文 */

/*
label: 轉E1-段落-跋文
keystroke:
show in menu: true
*/
.postscript-right,
/*跋文靠右來共用*/
p.postscript {
  /* 相同樣式之間無間距 */
  margin-block: 0;
  font-size: 75%;
  text-indent: 0 !important;
}

/*
label: 轉隱-跋文與前段間距
keystroke:
show in menu: false
*/
p:not(.postscript)+p.postscript {
  margin-block-start: 2lh;
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉E2-段落-跋文靠右
keystroke:
show in menu: true
*/
p.postscript-right {
  text-align: right;
}

/*
label: 轉隱-跋文靠右-間距1
keystroke:
show in menu: false
與前段間距
*/

:not(p.postscript-right, p.postscript)+p.postscript-right {
  margin-block-start: 2lh;
}

/*
label: 轉隱-跋文靠右-間距2
keystroke:
show in menu: false
"前面是跋文"時的距離
*/

p.postscript+p.postscript-right {
  margin-block-start: 1lh;
}

/* #endregion */

/* ------------------------------------------------------------------------------- */

/* #region 註腳 */

/*
label: 轉F1-字元-註腳原文
keystroke:
show in menu: true
*/
span.footnote-quotation {
  font-weight: bold;
}

/*
label: 轉F2-段落-註腳文字
keystroke:
show in menu: true
*/
p.footnote-text {
  margin-inline-start: 3.5em;
  font-size: 0.75em;

  /* 凸排 */
  text-indent: -3.5em !important;
}

/*
label: 轉隱-註腳文字前參照
keystroke:
show in menu: false
*/
p.footnote-text span.footnote-ref {
  display: inline-block;

  min-width: 3.5em;

  font-size: 1em;
  text-align: right;

  opacity: 1;
}

/*
label: 轉F3-字元-註腳參照
keystroke:
show in menu: true
*/
span.footnote-ref {
  font-size: 0.75em;
  text-wrap-mode: nowrap;
  opacity: 0.707;
}

/*
label: 轉F9-段落-註腳分隔線
keystroke:
show in menu: true
*/
p.footnote-hr {
  width: 33%;
  height: 5px;
  margin: 2em 0 1em;
  border-color: #808080;
  border-style: solid;
  border-width: 1px 0 0;

  text-indent: 0;
}

/* #endregion */

/* ------------------------------------------------------------------------------- */

/* #region 上下標 */

/*
label: 轉-字元-上標
keystroke: D
show in menu: true
*/
sup {
  position: static;
  font-size: 0.707em;

  /* 讓行高不要變大 */
  line-height: 1;

  /*
  用vertical-align效能會比top、bottom好
  不要用text-top，它與字體會有關係。

  1em - 0.707em + 0.05em = 0.343em
  0.05em是視覺優化量
  */
  vertical-align: 0.343em;
}

/*
label: 轉-字元-下標
keystroke: C
show in menu: true
*/
sub {
  position: static;
  font-size: 0.707em;
  line-height: 1;

  /*
  用vertical-align效能會比top、bottom好
  不要用text-bottom，它與字體會有關係。
  */
  vertical-align: -0.05em;
}

/* #endregion */

/* ------------------------------------------------------------------------------- */

/* #region 目錄 */

/*
label: 轉T00-段落-目錄標題
keystroke:
show in menu: true
*/

/* 去共用title2 */
p.toc-title {
  text-align: center;
  text-indent: 0;
}

/*
label: 轉T01-段落-目錄卷冊
keystroke:
show in menu: true
*/
p.toc-volume {
  margin-block: 2em 1em;
  padding: 0 0.5em;

  font-weight: 600;
  text-indent: 0;

  background-color: hsl(44deg 30% 61%);
  /* 深色：hsl(44 30% 39%); */
}

/*
label: 轉隱-目錄卷冊-距離
keystroke:
show in menu: false
*/
p.toc-volume+p.toc-volume {
  margin-block-start: -1em;
}

/*
label: 轉T02-字元-目錄點點
keystroke:
show in menu: true
*/
span.toc-dots {
  /* 三個元素中，只有點點設定flex-grow。確保由它填滿空間。 */
  flex-grow: 10;

  /* 用下邊界控制高度，而不要用height控制 */
  margin-block-end: 0.4em;

  /* 與文字與頁碼的距離 */
  margin-inline: 0.5em;
  border-bottom: 3px dotted #80808040;

  /* padding: 0 0.5em; 這無效 */
  line-height: 0.5;
}

/*
label: 轉T03-字元-目錄頁碼
keystroke:
show in menu: true
*/
span.toc-page {
  --dummy: 0;
}

/*
label: 轉T04-段落-目錄欄標題
keystroke:
show in menu: true
*/
p.toc-col-head {
  margin-block: 1em 0.5em;
}

/*
label: 轉隱-目錄欄標題-距離調整
keystroke:
show in menu: false
*/
p.toc-col-head+p.toc-col-head {
  margin-block-start: -0.5em;
}

/*
label: 轉T05-字元-空白定位點
keystroke:
show in menu: true
*/
span.toc-tab {
  flex-grow: 10;
}

/*
label: 轉隱-目錄條目-共用
keystroke:
show in menu: false
*/
p.toc-col-head,
p.toc-item1,
p.toc-item2 {
  display: flex;
  flex-wrap: wrap;
  /* 太長時，可以變兩行 */
  align-items: flex-end;
  justify-content: space-between;

  padding: 0 0.5em;

  text-indent: 0 !important;
}

/*
label: 轉隱-目錄條目無後距-共用
keystroke:
show in menu: false
*/
p.toc-item1-br,
p.toc-item2-br {
  padding: 0 0.5em;
  text-indent: 0 !important;
}

/*
label: 轉T10-段落-目錄條目1
keystroke:
show in menu: true
*/
p.toc-item1 {
  margin-block: 1em;
}

/*
label: 轉T11-段落-目錄條目1無後距
keystroke:
show in menu: true
*/
p.toc-item1-br {
  margin-block-end: 0;
}

/*
label: 轉隱-目錄條目1無後距-距離調整
keystroke:
show in menu: false
*/
p.toc-item1-br+p.toc-item1 {
  margin-block-start: 0;
}

/*
label: 轉T12-字元-目錄條目1字元
keystroke:
show in menu: true
*/
span.toc-item1-text {
  --dummy: 0;
}

/*
label: 轉T20-段落-目錄條目2
keystroke:
show in menu: true
*/
p.toc-item2 {
  margin-block: 0.5em;
  margin-inline-start: 2em;
}

/*
label: 轉T21-段落-目錄條目2無後距
keystroke:
show in menu: true
*/
p.toc-item2-br {
  margin-block-end: 0;
  margin-inline-start: 2em;
}

/*
label: 轉隱-目錄條目2無後距-距離調整
keystroke:
show in menu: false
*/
p.toc-item2-br+p.toc-item2 {
  margin-block-start: 0;
}

/*
label: 轉T22-字元-目錄條目2字元
keystroke:
show in menu: true
*/
span.toc-item2-text {
  opacity: 0.707;
}

/*
label: 轉隱-目錄中藏字距
keystroke:
show in menu: false
*/

/* 前中後藏 */
p.toc-item1>.toc-item1-text:not(.font-tibetan)+.toc-item1-text.font-tibetan,
p.toc-item2>.toc-item2-text:not(.font-tibetan)+.toc-item2-text.font-tibetan,
/* br段落不用加，因為該段落沒有使用flex */
/* p.toc-item1-br > .toc-item1-text:not(.font-tibetan) + .toc-item1-text.font-tibetan,
p.toc-item2-br > .toc-item2-text:not(.font-tibetan) + .toc-item2-text.font-tibetan, */
/* 前藏後中 */
p.toc-item1>.toc-item1-text.font-tibetan+.toc-item1-text:not(.font-tibetan),
p.toc-item2>.toc-item2-text.font-tibetan+.toc-item2-text:not(.font-tibetan) {
  margin-inline-start: 0.25em;
}

/* #endregion */

/* ------------------------------------------------------------------------------- */

/*
label: 轉B6-段落-品末名
keystroke:
show in menu: true
*/
p.chapter-end {
  font-weight: 500;
  text-indent: 0 !important;
}

/* ------------------------------------------------------------------------------- */

/*
label: 復原 引文區塊+段落樣式 下的時間碼及頁碼大小
keystroke:
show in menu: false
*/
blockquote p.quoting-explanation-indent .seek-to,
blockquote p.quoting-explanation-indent .pagenum,
blockquote p.quoting-explanation-verse .seek-to,
blockquote p.quoting-explanation-verse .pagenum,
blockquote p.quoting-explanation .seek-to,
blockquote p.quoting-explanation .pagenum,
blockquote p.quoting-treatise-indent .seek-to,
blockquote p.quoting-treatise-indent .pagenum,
blockquote p.quoting-treatise-verse .seek-to,
blockquote p.quoting-treatise-verse .pagenum,
blockquote p.quoting-treatise .seek-to,
blockquote p.quoting-treatise .pagenum {
  font-size: calc(100% / 1.125);
}

/*
label: 復原 原文段落 中的時間碼及頁碼大小
keystroke:
show in menu: false
*/
p.scripture-classical .seek-to,
p.scripture-classical .pagenum,
p.scripture-classical-noindent .seek-to,
p.scripture-classical-noindent .pagenum {
  font-size: calc(100% / 1.09);
}

/*
label: 讓舊式「表格排版偈頌」的凸排部分，不要出現換行
keystroke:
show in menu: false
*/
*:not(.title3)+.table td:first-of-type>span,
blockquote .table td:first-of-type>span {
  display: inline-block;
  white-space: nowrap;
}

/* ------------------------------------------------------------------------------- */

/*
label: 著重號：基礎
keystroke:
show in menu: false
*/
.emph-dot,
.emph-open-dot {
  position: relative;
  font-style: normal;
  /* 取消斜體 */
  line-height: 2;
}

/*
label: 著重號：偽元素共用
keystroke:
show in menu: false
*/
.emph-dot::before,
.emph-open-dot::before {
  position: absolute;
  bottom: -0.65em;
  /* 修改此值即可調整與字元的垂直距離 */
  left: 50%;

  /* 用scale控制大小而不用font-size，以免受瀏覽器最小字元限制 */
  transform: translateX(-50%) scale(0.3);

  font-family: ui-symbol, sans-serif;
  line-height: 1;
  text-indent: 0;
}

/*
label: 著重號：點：偽元素
keystroke:
show in menu: false
*/
.emph-dot::before {
  content: "●";
}

/*
label: 著重號：圈：偽元素
keystroke:
show in menu: false
*/
.emph-open-dot::before {
  content: "〇";
  text-shadow:
    -2px -2px 2px currentcolor,
    2px -2px 2px currentcolor,
    -2px 2px 2px currentcolor,
    2px 2px 2px currentcolor;
}

/* ------------------------------------------------------------------------------- */

/*
label: 轉TD1-儲存格不換行
keystroke: 
show in menu: true
*/
td.nowrap,
th.nowrap {
  white-space: nowrap;
}