/*
label: 隱-四家-共用
keystroke:
show in menu: false
*/
.scripture-supannotation-miao,
.scripture-supannotation-ba,
.scripture-supannotation-yu,
.scripture-supannotation-jha {
  font-family:
    "AR PL UKai TW", "標楷體", DFKai-SB, BiauKai, "Kaiti TC", STKaitiTC-Regular,
    "AR PL KaitiM Big5", "Noto Serif TC", "全字庫正楷體 Ext-B", TW-Kai-Ext-B,
    serif;
  font-size: 100%;
  font-weight: 700;
  font-style: normal;
  line-height: 1.618;

  /* font-optical-sizing 屬性只對包含光學尺寸軸（Optical Size Axis，即 opsz）的可變字型（Variable Fonts）有效。
  雖然 Noto Serif TC 有推出現代的可變字型版本，但它只支援「字重軸」（wght：100–900），並沒有包含 opsz 軸。
  上述字型清單中，沒有一個字型具有 opsz 軸，所以，並不需要加：
  font-optical-sizing: auto;
  */
}

/*
label: 四家-藍-妙音笑大師
keystroke: K
show in menu: true
*/
.scripture-supannotation-miao,
span.scripture-supannotation-miao {
  color: #00639e; /* 深色  #1aa9ff; */
}

/*
label: 四家-紅-巴梭法王
keystroke: 0
show in menu: true
*/
.scripture-supannotation-ba,
span.scripture-supannotation-ba {
  color: #950d43; /* 深色 #ff3384; */
}

/*
label: 四家-綠-語王堅穩大師
keystroke: O
show in menu: true
*/
.scripture-supannotation-yu,
span.scripture-supannotation-yu {
  color: #007f3c; /* 深色 #00b857; */
}

/*
label: 四家-褐-札帝格西
keystroke: M
show in menu: true
*/
.scripture-supannotation-jha,
span.scripture-supannotation-jha {
  color: #8c3d1f; /* 深色 #d59301; */
}

/*
label: 隱-四家箋註-共用
keystroke:
show in menu: false
*/
.super-supannotation-miao,
.super-supannotation-yu,
.super-supannotation-ba,
.super-supannotation-jha {
  display: inline-block;

  width: 1.05em;

  font-size: 100% !important;
  text-indent: 0;
  text-wrap: nowrap;
}

/* 【四家箋註-藍-妙音笑大師】 */
span.super-supannotation-miao {
  --dummy: 0;
}

/* 【四家箋註-綠-語王堅穩大師】 */
span.super-supannotation-yu {
  --dummy: 0;
}

/* 【四家箋註-紅-巴梭法王】 */
span.super-supannotation-ba {
  --dummy: 0;
}

/* 【四家箋註-褐-札帝格西】 */
span.super-supannotation-jha {
  --dummy: 0;
}

/*
label: 隱-四家箋註-BEFORE-共用
keystroke:
show in menu: false
*/
.super-supannotation-miao::before,
.super-supannotation-yu::before,
.super-supannotation-ba::before,
.super-supannotation-jha::before {
  transform: translateY(-0.35em) scale(0.6);

  display: inline-block;

  width: 1.3em;
  height: 1.3em;
  margin: 0 -0.4em 0 -0.1em;
  border-radius: 50%;

  line-height: 1.25em;
  color: #fff; /* 深色 #000;  */
  text-align: center;
  text-indent: 0;
}

/*
label: 四家箋註-藍-妙音笑大師-BEFORE
keystroke:
show in menu: false
*/
.super-supannotation-miao::before {
  content: "\5999";
  background-color: #00639e; /* 深色 #1aa9ff; */
}

/*
label: 四家箋註-綠-語王堅穩大師-BEFORE
keystroke:
show in menu: false
*/
.super-supannotation-yu::before {
  content: "\8a9e";
  background-color: #007f3c; /* 深色 #00b857; */
}

/*
label: 四家箋註-紅-巴梭法王-BEFORE
keystroke:
show in menu: false
*/
.super-supannotation-ba::before {
  content: "\5df4";
  background-color: #950d43; /* 深色 #ff3384; */
}

/*
label: 四家箋註-褐-札帝格西-BEFORE
keystroke:
show in menu: true
*/
.super-supannotation-jha::before {
  content: "\672D";
  background-color: #8c3d1f; /* 深色 #d59301; */
}

/*
label: 四家上下標
keystroke:
show in menu: false
*/
.scripture-supannotation-miao.sub_,
.scripture-supannotation-miao.super_,
.scripture-supannotation-ba.sub_,
.scripture-supannotation-ba.super_,
.scripture-supannotation-yu.sub_,
.scripture-supannotation-yu.super_,
.scripture-supannotation-jha.sub_,
.scripture-supannotation-jha.super_ {
  font-size: 75%;
}

/*
label: 隱藏式時間碼
keystroke:
show in menu: false
*/
span.seek-to[data-label$="*"] {
  overflow: hidden;
  display: block;

  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0 !important;
}
