/*
label: 四家-藍-妙音笑大師
keystroke: K
show in menu: true
*/
.supannotation-miao,
span.supannotation-miao {
  color: #00639e; /* 深色 #1aa9ff; */
}

/*
label: 四家-紅-巴梭法王
keystroke: 0
show in menu: true
*/
.supannotation-ba,
span.supannotation-ba {
  color: #950d43; /* 深色 #ff3384; */
}

/*
label: 四家-綠-語王堅穩大師
keystroke: O
show in menu: true
*/
.supannotation-yu,
span.supannotation-yu {
  color: #007f3c; /* 深色 #00b857; */
}

/*
label: 四家-褐-札帝格西
keystroke: M
show in menu: true
*/
.supannotation-jha,
span.supannotation-jha {
  color: #8c3d1f; /* 深色 #d59301; */
}

/* 圓標 */

/*
label: 隱-四家箋註-共用
keystroke:
show in menu: false
*/
.super-supannotation-miao,
.super-supannotation-yu,
.super-supannotation-ba,
.super-supannotation-jha {
  display: inline-block;

  width: 1.05em;

  font-size: 100% !important;
  text-indent: 0;
  text-wrap: nowrap;
}

/* 【四家箋註-藍-妙音笑大師】 */
span.super-supannotation-miao {
  --dummy: 0;
}

/* 【四家箋註-綠-語王堅穩大師】 */
span.super-supannotation-yu {
  --dummy: 0;
}

/* 【四家箋註-紅-巴梭法王】 */
span.super-supannotation-ba {
  --dummy: 0;
}

/* 【四家箋註-褐-札帝格西】 */
span.super-supannotation-jha {
  --dummy: 0;
}

/*
label: 隱-四家箋註-BEFORE-共用
keystroke:
show in menu: false
*/
.super-supannotation-miao::before,
.super-supannotation-yu::before,
.super-supannotation-ba::before,
.super-supannotation-jha::before {
  transform: translateY(-0.35em) scale(0.6);

  display: inline-block;

  width: 1.3em;
  height: 1.3em;
  margin: 0 -0.4em 0 -0.1em;
  border-radius: 50%;

  font-weight: normal;
  line-height: 1.35em; /* 黑體用1.35，楷書用1.25 */
  color: #fff; /* 深色 #000; */
  text-align: center;
  text-indent: 0;
}

/*
label: 四家箋註-藍-妙音笑大師-BEFORE
keystroke:
show in menu: false
*/
.super-supannotation-miao::before {
  content: "\5999";
  background-color: #00639e; /* 深色 #1aa9ff; */
}

/*
label: 四家箋註-綠-語王堅穩大師-BEFORE
keystroke:
show in menu: false
*/
.super-supannotation-yu::before {
  content: "\8a9e";
  background-color: #007f3c; /* 深色 #00b857; */
}

/*
label: 四家箋註-紅-巴梭法王-BEFORE
keystroke:
show in menu: false
*/
.super-supannotation-ba::before {
  content: "\5df4";
  background-color: #950d43; /* 深色 #ff3384; */
}

/*
label: 四家箋註-褐-札帝格西-BEFORE
keystroke:
show in menu: true
*/
.super-supannotation-jha::before {
  content: "\672D";
  background-color: #8c3d1f; /* 深色：#d59301; */
}

/*
label: 偈頌/換段不加間距
keystroke:
show in menu: true
*/
blockquote.gatha {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-block: 1em;
  padding: 0;
  border-left: 0;

  font-size: 100%;
}

/*
label: 偈頌/換段不加間距 p
keystroke:
show in menu: false
*/
blockquote.gatha p {
  margin-top: 0;
  margin-bottom: 0;
  margin-block: 0;

  font-weight: normal;
  text-indent: 0;
}
